<h1>Listing nodes</h1>

<div id="graphDiv">
</div>



<table>
  <thead>
    <tr>
      <th>Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.link_html %></td>
        <td><%= link_to 'Show', node %></td>
        <td><%= link_to 'Edit', edit_node_path(node) %></td>
        <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node', new_node_path %>


<%= content_for :js do %>
    <script type="text/javascript">
        $(function() {
            $.draw_nodes_graph();
        });
    </script>
<% end %>