<%= form_tag tags_for_nodes_path(), method: :get, class: "form-inline pull-right col-md-3 search_form", role: "search" do %>
	<div class="input-group">
		<%= text_field_tag :tags, params[:tags], placeholder: "Search", class: "form-control" %>
		<div class="input-group-btn">
			<%= button_tag class: "btn btn-default", type: :submit do %>
				<i class="fa fa-search"></i>
				Go!
			<% end %>
		</div>
	</div>
<% end %> 


<div id="graphDiv"></div>
<%= content_for :js do %>
    <script type="text/javascript">
        $(function() {
            $.draw_nodes_graph('/nodes/tags/<%= params[:tags] %>.json');
        });
    </script>
<% end %>
