<!DOCTYPE html>
<html>
<head>
  <title>MindBuff</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" unless controller_name=="home" %>

<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
